LB_1_2/DAN_1_2/src/main/java/ua/nure/publisher/entity/generated/magazines.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:mag="http://ua.nure/magazines/"
            targetNamespace="http://ua.nure/magazines/"
            elementFormDefault="qualified">

    <xsd:simpleType name="id">
        <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:totalDigits value="10"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="entity">
        <xsd:attribute name="id" type="mag:id" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="title">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
            <xsd:pattern value="[\w\s]+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="price">
        <xsd:restriction base="xsd:decimal">
            <xsd:fractionDigits value="3"/>
            <xsd:minExclusive value="0"/>
            <xsd:maxExclusive value="1000"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="perMonthPublishCount">
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="31"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="publishType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="daily"/>
            <xsd:enumeration value="monthly"/>
            <xsd:enumeration value="twicePerMonth"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="publishing">
        <xsd:choice>
            <xsd:element name="perMonthPublishCount" type="mag:perMonthPublishCount"/>
            <xsd:element name="publishType"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:simpleType name="category">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="politics"/>
            <xsd:enumeration value="sport"/>
            <xsd:enumeration value="it"/>
            <xsd:enumeration value="none"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="magazine">
        <xsd:complexContent>
            <xsd:extension base="mag:entity">
                <xsd:all>
                    <xsd:element name="title" type="mag:title"/>
                    <xsd:element name="description" type="xsd:string"/>
                    <xsd:element name="price" type="mag:price"/>
                    <xsd:element name="publishing" type="mag:publishing"/>
                    <xsd:element name="category" type="mag:category" default="none"/>
                </xsd:all>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="magazines">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="magazine" type="mag:magazine" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>