task5/item.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="booksList">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="bookType" minOccurs="0"
                            maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="book" type="bookType"/>

    <xs:complexType name="bookType">
        <xs:sequence>
            <xs:element name="author" minOccurs="0" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>